html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  word-wrap: break-word;
}

.wrapper {
    width: 95%;
    margin: 3em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    /* font-size: .85em; */
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}


@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

.full-width {
  width: 100%;
}

.btn-outline {
    color: #fff;
    background-color: transparent;
    border-color: #eee;
}

.full-bg {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/flower-bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/flower-bg.jpg', sizingMethod='scale')";
}

.results-bg { 
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  background: url(img/cover-smile.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/cover-smile.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/cover-smile.jpg', sizingMethod='scale')";
}

.overlay {
  z-index: -50;
  content: '';
  background: #1C0920;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

/*
.title{
  color: white;
  margin: 0 0 50px 0;
}
*/
.fixed-footer{
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  bottom: 0;
  height: 100px;
}
.fixed-footer button{
  width: 100%;
  font-size: 3em;
}

.qa-outer-container {
  position: relative;
}
.qa-inner-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  margin: auto;
}

/*
.qa-inner-container.ng-enter {
  -webkit-animation: enter_sequence 1s linear; 
  animation: enter_sequence 1s linear; 
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

.qa-inner-container.ng-leave {
  -webkit-animation: leave_sequence 1s linear; 
  animation: leave_sequence 1s linear; 
}
@-webkit-keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0; }
}
@keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0; }
}*/


.question{
  border-bottom: 1px solid #eee;
}
.question,.answer{
  /*font-family: Source Code Pro, monospace;*/
  font-family: Raleway;
  color: #fff;
  font-weight: 900;
  text-shadow: 0px 0px 3px #000, -3px -3px 3px #000, 1px 1px #000;
  padding-bottom: 20px;
  font-size: 2em;
  line-height: 2.1em;
}
.answer h3,h4{
  font-size: 29px;
  border-radius: 25px;
  padding: 9px;
}
.answer {
  padding: 9px;
  padding-bottom: 100px;
}

.meaning{
  display: none;
}

.results {
  margin-top: 50px;
  color: #eee;
  font-size: 2em;
}



@media screen and (max-width: 9991px){
    .navbar-collapse.collapse{
        display: none!important;
        height: 0!important;
        padding-bottom: 0;
        overflow: hidden!important;
    }
    .navbar-toggle.collapsed{
        display:block!important;    
    }
    .navbar-toggle{
        display:block!important;    
    }
    .navbar-collapse.collapse.in{
        display:block!important;    
        height:auto!important;
        overflow:visible!important;
    }
    .navbar-nav>li,.navbar-header{
        float:none; 
    }
    body  {
      padding-top: 30px;
    }
    .navbar-nav span,label {
      color: white;
    }
}

.heart {
  position: relative;
  font-size: 24px;
  margin-top:-0.5em;
  width:0;
  height:0;
}

.heart::before, .heart::after {
  position: absolute;
  content: "";
  width: 1em;
  height: 1.6em;
  background: #2C2C2C;
  -moz-border-radius: 1em 1em 0 0;
  border-radius: 1em 1em 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}


.heart::after {
left: -0.96em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
