.question-container {
  display: block;
  width: 100%;
  /*height: 85%;*/
}

.item {
  text-align: center;
  font-weight: 700;
  /*height: 50%;*/
}

.previous {
  background-color: #71A8A4;
  border-radius: 24px 24px 0 0;
}

.test {
  background-color: #558C88;
  border-radius: 0 0 24px 24px;
}

body {
  background-color: #ECECEA;
  margin: 45px;
  font-family: Source Code Pro, monospace;
  height: 100%;
}

.hidden {
  display: none;
}

.show,.correct,.incorrect {
  font-weight: 900;
  text-align: center;
  border-radius: 75px;
}

.show {
  background-color: #D9853B;
  margin: 0 10%;
  height: inherit;
  /* margin-top: 20px; */;
}

.controls {
  /* display: inline-block; */
  /* padding-top: 50px; */
  height: 100%;
}

.controls-container {
  height: 15%;
  width: 100%;
  text-align: center;
}

#correct {
  float: left;
  width: 50%;
  height: inherit;
  border-radius: 75px;
  background-color: green;
}

#incorrect {
  float: left;
  width: 50%;
  /* height: 100%; */
  border-radius: 75px;
  background-color: red;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}