.full-width {
  width: 100%;
}

.test-bg { 
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  background: url(img/flower-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/flower-bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/flower-bg.jpg', sizingMethod='scale')";
}

.test-bg-end { 
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  background: url(img/creator.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/creator.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/creator.jpg', sizingMethod='scale')";
}

.results-bg { 
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  background: url(img/cover-smile.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/cover-smile.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/cover-smile.jpg', sizingMethod='scale')";
}

.overlay {
  z-index: -50;
  content: '';
  background: #1C0920;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}


.title{
  color: white;
  margin: 0 0 50px 0;
}

.fixed-footer{
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  bottom: 0;
  height: 100px;
}
.fixed-footer button{
  width: 100%;
  font-size: 3em;
  /*color: rgba(0, 0, 0, 0.5);*/
}

.qa-outer-container {
  position: relative;
}
.qa-inner-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  margin: auto;
}
.question{
  margin-top: 80px;
  border-bottom: 1px solid #eee;
}
.question,.answer{
  font-family: Source Code Pro, monospace;
  color: #eee;
  padding-bottom: 40px;
  font-size: 2em;
}

.meaning{
  display: none;
}

.results {
  margin-top: 50px;
  color: #eee;
  font-size: 2em;
}