<div class="question-container">
  <div class="item previous" ng-hide="state === 'end'"><p class="noselect" data-fittext=".315" data-fittext-min="24px" data-fittext-max="50">{{linkPrevious()}}</p></div>
  <div class="item test" ng-hide="state === 'end'"><p class="noselect" data-fittext=".315" data-fittext-min="24px" data-fittext-max="50">{{linkTest()}}</div>
</div>
<img src="img/creator.jpg" width="100%" alt="Finished" ng-click="showResults()" ng-show="state === 'end'">
<div class="controls-container">
  <div class="controls">
    <div class="show" ng-show="state === 'show'" ng-click="showAnswer()"><p class="noselect" data-fittext data-fittext-min="12px">Show Answer</p></div>
    <div id="incorrect" ng-show="state === 'answer'" ng-click="submitAnswer('incorrect')"><p class="noselect" data-fittext data-fittext-min="12px">Incorrect</p></div>
    <div id="correct" ng-show="state === 'answer'" ng-click="submitAnswer('correct')"><p class="noselect" data-fittext >Correct</p></div>
    <div class="show" ng-show="state === 'end'" ng-click="showResults()"><p class="noselect" data-fittext data-fittext-min="12px">Show Results</p></div>
  </div>
</div>