<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <h1 class="text-center">Archana by Heart!</h1>
      </div>
      <div class="row">
        <div class="col-md-4 thumbnail" ng-repeat="item in items">
          <a ng-href="{{url(item.id)}}" class="thumb"><img ng-src="{{item.image}}"></a>
          <a ng-href="{{url(item.id)}}">{{item.title}}</a>
          <p>{{item.description}}</p>
        </div> 
      </div>  
    </div>
    <div class="col-md-2">
      <h2>Coming soon</h2>
      <ol>
        <li>Auto show based on time it takes to say name</li>
        <li>FAQ page with videos showing how to use</li>
        <li>Show Meaning</li>
        <li>Audio version</li>
        <li>Feedback page (for now email hisingh1@gmail.com)</li>
        <li>Export the missed results to anki</li>
        <li>Code on github</li>
        <li>Better look</li>
      </ol>
    </div>
  </div>
</div>